/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #065471;
  color: #FFC045;
  /* scroll-behavior: smooth; */
  /* overflow-x: hidden; //solution for the right part of the screen which is bigger than the screen itself */
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
  text-shadow: 2px 2px black;
  font-weight: bold;
}

.small-shadow {
  text-shadow: 1px 1px black;
}

h6 {
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: bold;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  /* width: 100vw; */
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.logoCoin {
  height: 4vmin;
  pointer-events: none;
}

.image_news {
  height: 10vmin;
}

.main-logo {
  width: 60px;
  height: 60px;
}

.main-container {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.left-container {
  height: 100%;
  width: 100%;
  min-height: 100vh;

}

.right-container {
  height: 100%;
  width: 100%;
  min-height: 100vh;

}

#special_button {
  background-color: whitesmoke;
}

#white_equal_size_button {
  background-color: whitesmoke;
  color: #065471;
  width: 9rem;
}

.positive_price_change24 {
  color: rgb(46, 250, 46);
}

.negative_price_change24 {
  color: rgb(255, 48, 48);
}

.parent-buttons {
  display: flex;
  justify-content: center;
}

.child-buttons {
  display: flex;
}