.App {
  text-align: center;
}

.logoCoin {
  height: 4vmin;
  pointer-events: none;
}

.image_news {
  height: 10vmin;
  
}

.App-logo {
  height: 90vmax;
  pointer-events: none;
}

#special_button {
  background-color: rgb(146, 141, 141);
}

.special_button {
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.positive_price_change24 {
  color:green;
}

.negative_price_change24 {
  color:red;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
