/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.logoCoin {
  height: 4vmin;
  pointer-events: none;
}

.image_news {
  height: 10vmin;
}

.main-logo {
  width: 60px;
  height: 60px;
}

.main-container {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.left-container {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.right-container {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

#special_button {
  background-color: rgb(146, 141, 141);
}

.special_button {
  background-color: #282c34;
}

.positive_price_change24 {
  color:green;
}

.negative_price_change24 {
  color:red;
}


